.container{
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 70px;
    background-color: rgba(107, 212, 66,0.4);
    text-align: center;
    border: 2pt black;
    border-radius: 30px;
    padding-top: 100px;
    
}
.container2{
    width: 600px;
    height: 500px;
    margin-top: 20px;
    background-color: rgba(107, 212, 66,0.4);
    text-align: center;
    border:2pt black;
    border-radius: 30px;
    position: relative;
   
}
#erroStatus{
    color: red;
}
body{
    background-color: rgba(54, 45, 45, 0.541);
}
.menuPrincipal{
    width: 440pt;
    height: 20pt;
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 15px;
    text-align: center;
    padding-top: 7px;
    font-size: 10pt;
}
.menuMaterial{
    width: 40px;
}
#muralha{
    top:25px;
    border: solid 2px rgba(22, 22, 184, 0.438) ;
    background-color: rgba(116, 160, 143, 0.637);
    border-radius: 100%;
    width: 550px;
    height: 450px;
    margin: auto;
}
.predCidade{
    width: 40px;
    height: 40px;
    border: double 2px black;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    position: relative;
}
#prefeitura{
    background-color: brown;
    top: -30px;
    content: "pref";
}
#armazem{
    background-color: chocolate;
    left: 140px;
}
#quartel{
    background-color: darkgreen;
    right: 110px;
}
#academia{
    background-color: darkslateblue;
    left: 30px;
}
.predCampo{
    width: 40px;
    height: 40px;
    border: double 2px black;
    position: absolute;
    left: 20px;
    top: 15px;
    background-color: gray;
}
#madeira{
    background-color: gray;
}
#barro{
left: 87%;
}
#ferro{

top: 87%;
}
#cereal{
left: 87%;
top: 87%;
}