<section id="container" class="container2">
    <div id="muralha" class="container2">
        <div id="quartel" class="predCidade">qua</div>
        <div id="armazem" class="predCidade">arm</div>
        <div id="prefeitura" class="predCidade">pre</div>
        <div id="academia" class="predCidade">aca</div>
    </div>
    <div id="madeira" class="predCampo">mad</div>
    <div id="barro" class="predCampo">bar</div>
    <div id="ferro" class="predCampo">fer</div>
    <div id="cereal" class="predCampo">cer</div>
</section>