<section id="menuPrincipal" class="menuPrincipal"> <span>teste - Materiais:</span>
    <span>Madeira</span> <input type="number" name="material" readonly="true" class="menuMaterial" value="0">
    <span>Barro</span> <input type="number" name="material" readonly="true" class="menuMaterial" value="1">
    <span>Ferro</span> <input type="number" name="material" readonly="true" class="menuMaterial" value="2">
    <span>Cereal</span> <input type="number" name="material" readonly="true" class="menuMaterial" value="3">
</section>